In [103]:
import pandas as pd
import numpy as np
import seaborn as sns
import warnings
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.neural_network import MLPClassifier
warnings.filterwarnings("ignore")
import joblib

In [104]:
df = pd.read_csv('liver_dataset.csv',encoding= 'unicode_escape')

In [105]:
df.size

337601

In [106]:
df.columns

Index(['Age of the patient', 'Gender of the patient', 'Total Bilirubin',
       'Direct Bilirubin', 'Alkphos Alkaline Phosphotase',
       'Sgpt Alamine Aminotransferase', 'Sgot Aspartate Aminotransferase',
       'Total Protiens', 'ALB Albumin', 'A/G Ratio Albumin and Globulin Ratio',
       'Result'],
      dtype='object')

In [107]:
df.dtypes

Age of the patient                      float64
Gender of the patient                    object
Total Bilirubin                         float64
Direct Bilirubin                        float64
Alkphos Alkaline Phosphotase            float64
Sgpt Alamine Aminotransferase           float64
Sgot Aspartate Aminotransferase         float64
Total Protiens                          float64
ALB Albumin                             float64
A/G Ratio Albumin and Globulin Ratio    float64
Result                                    int64
dtype: object

In [108]:
df.head(4)

,Age of the patient,Gender of the patient,Total Bilirubin,Direct Bilirubin,Alkphos Alkaline Phosphotase,Sgpt Alamine Aminotransferase,Sgot Aspartate Aminotransferase,Total Protiens,ALB Albumin,A/G Ratio Albumin and Globulin Ratio,Result
0,65.0,Female,0.7,0.1,187.0,16.0,18.0,6.8,3.3,0.90,1
1,62.0,Male,10.9,5.5,699.0,64.0,100.0,7.5,3.2,0.74,1
2,62.0,Male,7.3,4.1,490.0,60.0,68.0,7.0,3.3,0.89,1
3,58.0,Male,1.0,0.4,182.0,14.0,20.0,6.8,3.4,1.00,1

In [109]:
df.tail(4)

,Age of the patient,Gender of the patient,Total Bilirubin,Direct Bilirubin,Alkphos Alkaline Phosphotase,Sgpt Alamine Aminotransferase,Sgot Aspartate Aminotransferase,Total Protiens,ALB Albumin,A/G Ratio Albumin and Globulin Ratio,Result
30687,55.0,Male,2.9,1.3,482.0,22.0,34.0,7.0,2.4,0.5,1
30688,54.0,Male,6.8,3.0,542.0,116.0,66.0,6.4,3.1,0.9,1
30689,48.0,Female,1.9,1.0,231.0,16.0,55.0,4.3,1.6,0.6,1
30690,30.0,Male,3.1,1.6,253.0,80.0,406.0,6.8,3.9,1.3,1

In [110]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30691 entries, 0 to 30690
Data columns (total 11 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Age of the patient                    30689 non-null  float64
 1   Gender of the patient                 29789 non-null  object
 2   Total Bilirubin                       30043 non-null  float64
 3   Direct Bilirubin                      30130 non-null  float64
 4   Alkphos Alkaline Phosphotase          29895 non-null  float64
 5   Sgpt Alamine Aminotransferase         30153 non-null  float64
 6   Sgot Aspartate Aminotransferase       30229 non-null  float64
 7   Total Protiens                        30228 non-null  float64
 8   ALB Albumin                           30197 non-null  float64
 9   A/G Ratio Albumin and Globulin Ratio  30132 non-null  float64
 10  Result                                30691 non-null  int64
dtypes: float64(9), int64(1), object(1)
memory usage: 2.6+ MB

In [111]:
df.describe()

,Age of the patient,Total Bilirubin,Direct Bilirubin,Alkphos Alkaline Phosphotase,Sgpt Alamine Aminotransferase,Sgot Aspartate Aminotransferase,Total Protiens,ALB Albumin,A/G Ratio Albumin and Globulin Ratio,Result
count,30689.000000,30043.000000,30130.000000,29895.000000,30153.000000,30229.000000,30228.000000,30197.000000,30132.000000,30691.000000
mean,44.107205,3.370319,1.528042,289.075364,81.488641,111.469979,6.480237,3.130142,0.943467,1.285882
std,15.981043,6.255522,2.869592,238.537589,182.158850,280.851078,1.081980,0.792281,0.323164,0.451841
min,4.000000,0.400000,0.100000,63.000000,10.000000,10.000000,2.700000,0.900000,0.300000,1.000000
25%,32.000000,0.800000,0.200000,175.000000,23.000000,26.000000,5.800000,2.600000,0.700000,1.000000
50%,45.000000,1.000000,0.300000,209.000000,35.000000,42.000000,6.600000,3.100000,0.900000,1.000000
75%,55.000000,2.700000,1.300000,298.000000,62.000000,88.000000,7.200000,3.800000,1.100000,2.000000
max,90.000000,75.000000,19.700000,2110.000000,2000.000000,4929.000000,9.600000,5.500000,2.800000,2.000000

In [112]:
df.isnull()

,Age of the patient,Gender of the patient,Total Bilirubin,Direct Bilirubin,Alkphos Alkaline Phosphotase,Sgpt Alamine Aminotransferase,Sgot Aspartate Aminotransferase,Total Protiens,ALB Albumin,A/G Ratio Albumin and Globulin Ratio,Result
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
30686,False,False,False,False,False,False,False,False,False,False,False
30687,False,False,False,False,False,False,False,False,False,False,False
30688,False,False,False,False,False,False,False,False,False,False,False
30689,False,False,False,False,False,False,False,False,False,False,False
30690,False,False,False,False,False,False,False,False,False,False,False

In [113]:
df.isnull().sum()

Age of the patient                        2
Gender of the patient                   902
Total Bilirubin                         648
Direct Bilirubin                        561
Alkphos Alkaline Phosphotase            796
Sgpt Alamine Aminotransferase           538
Sgot Aspartate Aminotransferase         462
Total Protiens                          463
ALB Albumin                             494
A/G Ratio Albumin and Globulin Ratio    559
Result                                    0
dtype: int64

In [114]:
df.columns = df.columns.str.replace(' ','_')

In [115]:
df.columns

Index(['Age_of_the_patient', 'Gender_of_the_patient', 'Total_Bilirubin',
       'Direct_Bilirubin', 'Alkphos_Alkaline_Phosphotase',
       'Sgpt_Alamine_Aminotransferase', 'Sgot_Aspartate_Aminotransferase',
       'Total_Protiens', 'ALB_Albumin', 'A/G_Ratio_Albumin_and_Globulin_Ratio',
       'Result'],
      dtype='object')

In [116]:
df.Gender_of_the_patient=df.Gender_of_the_patient.map({'Female':1,'Male':0})

In [117]:
df.dtypes

Age_of_the_patient                      float64
Gender_of_the_patient                   float64
Total_Bilirubin                         float64
Direct_Bilirubin                        float64
Alkphos_Alkaline_Phosphotase            float64
Sgpt_Alamine_Aminotransferase           float64
Sgot_Aspartate_Aminotransferase         float64
Total_Protiens                          float64
ALB_Albumin                             float64
A/G_Ratio_Albumin_and_Globulin_Ratio    float64
Result                                    int64
dtype: object

In [118]:
df.isnull().sum()

Age_of_the_patient                        2
Gender_of_the_patient                   902
Total_Bilirubin                         648
Direct_Bilirubin                        561
Alkphos_Alkaline_Phosphotase            796
Sgpt_Alamine_Aminotransferase           538
Sgot_Aspartate_Aminotransferase         462
Total_Protiens                          463
ALB_Albumin                             494
A/G_Ratio_Albumin_and_Globulin_Ratio    559
Result                                    0
dtype: int64

In [119]:
df.fillna(df.Gender_of_the_patient.median(),inplace=True)
df.Total_Bilirubin.fillna(df.Total_Bilirubin.median(),inplace=True)
df.Direct_Bilirubin.fillna(df.Direct_Bilirubin.median(),inplace=True)
df.Alkphos_Alkaline_Phosphotase.fillna(df.Alkphos_Alkaline_Phosphotase.median(),inplace=True)
df.Sgpt_Alamine_Aminotransferase.fillna(df.Sgpt_Alamine_Aminotransferase.median(),inplace=True)
df.Sgot_Aspartate_Aminotransferase.fillna(df.Sgot_Aspartate_Aminotransferase.median(),inplace=True)
df.Total_Protiens.fillna(df.Total_Protiens.median(),inplace=True)
df.ALB_Albumin.fillna(df.ALB_Albumin.median(),inplace=True)
df.rename(columns = {'A/G_Ratio_Albumin_and_Globulin_Ratio':'AbyG_Ratio'}, inplace = True)
df.AbyG_Ratio.fillna(df.AbyG_Ratio.median(),inplace=True)

In [120]:
df.isnull().sum()

Age_of_the_patient                 0
Gender_of_the_patient              0
Total_Bilirubin                    0
Direct_Bilirubin                   0
Alkphos_Alkaline_Phosphotase       0
Sgpt_Alamine_Aminotransferase      0
Sgot_Aspartate_Aminotransferase    0
Total_Protiens                     0
ALB_Albumin                        0
AbyG_Ratio                         0
Result                             0
dtype: int64

In [121]:
X =df.drop(['Gender_of_the_patient','Result'], axis=1)
X.head(3)
Y=df['Result']

In [122]:
X.shape

(30691, 9)

In [123]:
Y.shape

(30691,)

In [124]:
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.3,random_state=99)

In [125]:
g = GaussianNB()
g.fit(x_train, y_train)
# Predict Output
y_pred = g.predict(x_test)
print('Accuracy: \n', accuracy_score(y_test, y_pred))
print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))

Accuracy:
 0.5610338835794961
[[2674 3898]
 [ 144 2492]]
              precision    recall  f1-score   support

           1       0.95      0.41      0.57      6572
           2       0.39      0.95      0.55      2636

    accuracy                           0.56      9208
   macro avg       0.67      0.68      0.56      9208
weighted avg       0.79      0.56      0.56      9208

In [126]:
lr=LogisticRegression()
lr.fit(x_train, y_train)
y_pred = lr.predict(x_test)
print('Accuracy: \n', accuracy_score(y_test,y_pred))
print('Confusion Matrix :\n',confusion_matrix(y_test,y_pred),'\n')
print('Classification Report :\n',classification_report(y_test,y_pred),'\n')

Accuracy:
 0.7135099913119027
Confusion Matrix :
 [[6247  325]
 [2313  323]]

Classification Report :
               precision    recall  f1-score   support

           1       0.73      0.95      0.83      6572
           2       0.50      0.12      0.20      2636

    accuracy                           0.71      9208
   macro avg       0.61      0.54      0.51      9208
weighted avg       0.66      0.71      0.65      9208

In [127]:
rf = RandomForestClassifier(n_estimators=100)
rf.fit(x_train, y_train)
y_pred = rf.predict(x_test)
print('Accuracy: \n', accuracy_score(y_test,y_pred))
print('Confusion Matrix :\n',confusion_matrix(y_test,y_pred),'\n')
print('Classification Report :\n',classification_report(y_test,y_pred),'\n')

Accuracy:
 0.9968505647263249
Confusion Matrix :
 [[6562   10]
 [  19 2617]]

Classification Report :
               precision    recall  f1-score   support

           1       1.00      1.00      1.00      6572
           2       1.00      0.99      0.99      2636

    accuracy                           1.00      9208
   macro avg       1.00      1.00      1.00      9208
weighted avg       1.00      1.00      1.00      9208

In [128]:
joblib.dump(rf,"final.pkl")
final_model=joblib.load('final.pkl')
pred=final_model.predict(x_test)
acc=accuracy_score(y_test,pred,normalize=True)*float(100)
print(acc)

99.6850564726325

In [129]:
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import roc_curve, auc, roc_auc_score, confusion_matrix

# Neural Networks# Neural 
neural = MLPClassifier()
neural.fit(x_train, y_train)
#Predict Output
predicted = neural.predict(x_test)

neural_score = round(neural.score(x_train, y_train) * 100, 2)
neural_score_test = round(neural.score(x_test, y_test) * 100, 2)
print('Neural Train Score: \n', neural_score)
print('Neural Test Score: \n', neural_score_test)
print('Accuracy: \n', accuracy_score(y_test, predicted))
print(confusion_matrix(predicted,y_test))
print(classification_report(y_test,predicted))

Neural Train Score:
 81.18
Neural Test Score:
 80.27
Accuracy:
 0.8026715899218071
[[6011 1256]
 [ 561 1380]]
              precision    recall  f1-score   support

           1       0.83      0.91      0.87      6572
           2       0.71      0.52      0.60      2636

    accuracy                           0.80      9208
   macro avg       0.77      0.72      0.74      9208
weighted avg       0.79      0.80      0.79      9208